*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #6b88fe;
}
.scene {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.footer {
  display: flex;
  position: absolute;
  bottom: 0;
}

.ground {
  width: 125px;
  height: 27px;
  background: url('/img/mario-objects.png') no-repeat;
  background-position: -1074px -139px;
}

.hole {
  width: 125px;
  height: 27px;
}

#mario {
  width: 30px;
  height: 38px;
  position: absolute;
  background: url(/img/mario-sprites.png) no-repeat;
  left: 0;
  bottom: 27px;
  background-position: -103px -40px;
  transition: left .3s,  bottom .3s;
}

#mario.rightmove {
  background-position: -24px -40px;
}

#mario.leftmove {
  background-position: -110px -120px;
}